#buttons {
	display : flex;
	flex-direction : row;
}
#flag-buttons {
	flex-direction: row;
	order: 1;
	margin-left : 40%;
	height : 55px;
}
#face {
	order: 2;
	margin-left : 4.5%;
	width : 55px;
	height : 55px;
}
#timer-buttons {
	flex-direction: row;
	order: 3;
	margin-left : 5.5%;
	height : 55px;
}
#flag-buttons img {
	margin-left : -3.2%;
	width : 40px; 
	height : 55px;
}
#timer-buttons img {
	margin-left : -3.2%;
	width : 40px; 
	height : 55px;
}
#board {
	position: fixed;
	left : 39.75%;
}
#board img {
	width : 55px;
	height : 55px;
}
#edit {
	margin-top : 10%;
	margin-left : 10%;
}